.root {
}

.input {
  background-color: var(--matterColorLight);
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 5px;
}

.inputSuccess {
  border-color: var(--matterColorGreen);
}

.inputError {
  border-color: var(--matterColorRed);
}

.textarea {
}
